.projects {
  background-color: #002d49;
  display: flex;

  h1 {
    text-align: center;
  }
  .textColor {
    color: white;

    ul {
      margin: 10px;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      display: none; /// this is hiding nav bar for projects
    }

    .container {
      width: auto;
      display: flex;
      justify-content: center;
      // align-items: center;
      flex-wrap: wrap;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      border: 1px solid #002d49;
      object-fit: cover;
      z-index: 1;
      transition: all 0.5s ease;
      cursor: pointer;
    }

    .item {
      width: 30%;
      height: 50%;
      margin: 20px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;

      h3 {
        position: absolute;
        align-items: center;
        visibility: hidden;
      }

      &:hover {
        background-color: #002d49;
        img {
          opacity: 0.2;
          z-index: 0;
        }
        h3 {
          color: white;
          visibility: visible;
        }
      }
    }
  }
}
