.topbar {
  z-index: 2;
  display: flex;

  &.active {
    .hammenu {
      .topbarLines {
        &:first-child {
          background-color: white;
          transform: rotate(180deg);
        }
        &:nth-child(2) {
          background-color: white;
          transform: rotate(-180deg);
        }
        &:last-child {
          background-color: white;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.topbarWrapper {
  // padding: 10px 30px;
  display: flex;
  align-self: flex-end;
}
.topbarLeft {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.appBar {
  display: flex;
  align-items: space-between;
  justify-content: center;
}

.topbarRight {
  // padding: 20px 30px;
  // margin-left: 700px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  .hammenu {
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    position: static;

    .topbarLines {
      width: 30px;
      height: 3px;
      background-color: white;
      transition: all 1s ease-in;
    }
  }
}

.topbarBox {
  background-color: red;
}
