.topbar {
  z-index: 2;
}

.wrapper {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.right {
  padding: 20px 30px;
  margin-left: 660px;
  display: flex;
  justify-content: space-between;
}
