.topbar {
  z-index: 2;
  display: flex;

  &.active {
    .hammenu {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(180deg);
        }
        &:nth-child(2) {
          background-color: white;
          transform: rotate(-180deg);
        }
        &:last-child {
          background-color: white;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.wrapper {
  padding: 10px 30px;
  display: flex;
  align-self: flex-end;
}

.right {
  // padding: 20px 30px;
  // margin-left: 700px;
  display: flex;
  justify-content: space-between;

  .hammenu {
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    position: static;

    span {
      margin-left: 60px;
      width: 30px;
      height: 3px;
      background-color: white;
      transition: all 1s ease-in;
    }
  }
}
