.app {
  //   height: 100%;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #004365;
    position: relative;
    // top: 70px;

    > * {
      width: 100%;
      height: calc(100vh - 70px);
      position: static;
    }
  }
}
