.app {
  height: 100%;

  .sections {
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #002d49;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    margin-top: 64px;

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}

h1 {
  color: white;
}
