.aboutme {
  background-color: #002d49;
  display: flex;

  .left {
    flex: 0.5;

    .imgContainer {
      width: 1px;
    }
  }

  .right {
    flex: 0.3;

    .aboutText {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;

      p {
        font-size: 13px;
      }

      span {
        margin-left: 25px;
      }
    }
  }
}
