.aboutme {
  // display: flex;
  // overflow: hidden;
  margin-top: 64px;
  height: calc(100vh - 64px);
  overflow: hidden;
}
.aboutWrapper {
  // background-color: red;
  display: flex;

  // flex: 1;
}
.aboutLeft {
  flex: 1;
  width: 50%;
  // display: flex;
  position: relative;
  // background-color: red;
}
.aboutRight {
  display: flex;
  flex: 2;
  justify-content: center;
  // align-items: center;
}
.aboutBox {
  display: flex;

  width: 80%;
  background-color: whitesmoke;
}

.aboutImgContainer {
  width: 700px;
  height: 700px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  float: right;
  overflow: hidden;

  .aboutImg {
    // z-index: 1;
    width: 100%;
    height: auto;
  }
}
//   }

//   .right {
//     flex: 0.3;

.aboutText {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: whiteSmoke;
}
p {
  font-size: 14px;
}
.aboutBox {
  overflow: scroll;
}
//       span {
//         margin-left: 25px;
//       }
//     }
//   }
// }
// .aboutBox {
//   width: 80vw;
//   height: auto;
//   background-color: whitesmoke;
// }
